:root {
    --primary-color: rgb(119, 149, 189);
}

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monda', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color:var(--primary-color);
    padding: 0 30px;
    
}

.logo {
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 20px;
}

/* will this be only a media query fro the desktop?? */
.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    width: 35%;
    height: 92vh;
    top: 8vh;
    background-color: var(--primary-color);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 3;
}

.nav-active {
    transform: translateX(0%);
}

.nav-links a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li {
    list-style: none;
    opacity: 0;
}

.burger {
    display: block;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.3s ease;
}




.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    z-index: -2;
}

.basic-info {
    border: 1px solid black;
    z-index: -2;
    max-width: 80%;
}

.name {
    text-align: center;
    border: 1px solid black;
}

.image {
    display: flex;
    justify-content: center;
}

.charlie {
    border-radius: 50%;
}

.bio {
    border: 1px solid black;
}

.bioBtn {
    padding: 3px;
}

.bio-title {
    text-align: center;
}

.form {
    display: none;
}

.showForm {
    display: flex;
    flex-direction: column;
}

/* .posts {
    border-bottom: 1px solid black;
} */

.posts-title {
    text-align: center;
}

.post {
    border: 1px solid black;
}

/*************** MEDIA QUESRIES FOR DESKTOP *****************/

@media screen and (min-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        transform: none;
        z-index: 3;
        height: auto;
        position: static;
    }

    .nav-links li {
        opacity: 1;
    }
    .burger {
        display: none;
        cursor: pointer;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
} 

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}